<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>High School Ride-Sharing</title>
    <style>

      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }

      h2 {
        font-family: Roboto;
        font-size: 32px;
        color: rgb(50, 50, 50);
        text-align: center;
        font-weight: normal;
      }

      .bodytext {
        font-family: Roboto;
        color: rgb(50, 50, 50);
      }

      #container {
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id = "container">
      <h1 class = "text-center mt-2 mb-4"">High School Ride-Sharing</h1>
      <img id = "banner" src="https://58944a34-76e7-4ad6-8863-6167b7d1f8ba-00-2lzpcqpk676un.spock.replit.dev/static/school_parkinglot.jpg" height = "320" width = "480" >
      <h2 class = "text-center mt-2 mb-1">About High School Ride-Sharing</h2>
      <p class = "bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis. Pharetra pharetra massa massa ultricies. Augue mauris augue neque gravida in fermentum et sollicitudin. Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Velit dignissim sodales ut eu sem integer vitae justo eget. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. Volutpat lacus laoreet non curabitur gravida arcu ac. Integer enim neque volutpat ac tincidunt. Ut aliquam purus sit amet.</p>

      <h2 class = "text-center mt-2 mb-2">Available Rides</h2>

      <p>
        {% include 'ridedisplay.html' %}
      </p>
      
      <div style = "text-align: center;">
          <button type="button" class="btn btn-outline-primary">Contact Us</button>
        <p class = "mt-4">Copyright 2022, Caleb</p>
      </div>
    </div>
  </body>
</html>